* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.grid-item {
    background-color: #7986cb;
    color: #fff;
    padding: 20px;
    text-align: center;
}